/* @keyframes img2 {
    from {
        position: relative;
    }
    to {
        position: relative;
        right: 0px;
    }
} */

/* .element {
    animation: slide 2s infinite alternate; /* Alternates between moving right and back */
/* } */ 